.flip-container {
  perspective: 1000px;
  display: inline-block;
  border: 1px solid white;
  /* background: black; */
  width: 400px;
  height: 200px;
  background: url("/backgroundImg/62394d753859943e6a1a36443ef78795.gif") center;
  border: solid 2px #fff;
}

.flip-container.flipped .flipper {
  transform: rotate(360deg);
  transition-duration: 0.9s;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.back {
  z-index: 2;
  /**for firefox 31 */
  transform: rotateY(180deg);
}
